.primary-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  align-self: center;
}

.google-btn-auth-button {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  align-self: center;
}

.toggle-auth {
  color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  align-self: right;
}